*{
    box-sizing: border-box;
}

a[href^='https://'] {
    color: red;
}

ul ~ p {
    font-size: 26px;
}

.list > li:last-child {
    background-color: blue;
}/*позволяет форматировать последний дочерний
элемент тега который вложен в класс*/